page-reset {

    .forgot-password-label{
        float: left;
        text-transform: lowercase;
    }

    .button-outline-md-secondary{
        font-size: 20px;
        font-weight: bolder;
    }
}
