page-login {
text-align: center;
p{
    color: color($colors,secondary);
}
.logo{
    width:30%;
    height:10%;
}
ion-toolbar{
    text-align: center;
}
.toolbar-md{
    min-height:0px;
}
.footer-bg{
    background-color: black;
    color: white;
}
ion-content{
    margin-top: 2em;
}
.scroll-content{
    padding-top: 5em !important;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) 
.item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) 
.item-inner{
    background-color: transparent;
    border-bottom-color: transparent;
    box-shadow: inset 0 -1px 0 0 transparent;
}
.forgot-password{
    font-size: 11px;
    float: right;
    text-transform: lowercase;
}
}
